#scheduleMainContainer {
  display: flex;
  flex-grow: 1;
}

#schedule {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

@media (prefers-color-scheme: dark) {
  #schedule {
    background-color: #2f2f2f;
  }
}

@media (prefers-color-scheme: light) {
  #schedule {
    background-color: #dedede;
  }
}