#scheduleMainContainer {
  display: flex;
  flex-grow: 1;
}

#schedule {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

/* @media (prefers-color-scheme: dark) {

}

@media (prefers-color-scheme: light) {

} */