#nav {
  display: flex;
  flex-direction: column;
  padding: 0px 20px;
  height: 100vh;
  text-align: center;
}

#container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
}

#navLinks {
  display: flex;
  flex-direction: column;
}

#logoutButton {
  margin-bottom: 20px;
}

a {
  text-decoration: none;
  padding: 20px 0;
}

a.active {
  text-decoration: underline;
}

@media (prefers-color-scheme: dark) {
  #nav {
    border-right: 1px solid #ededed;

    a, a:visited {
      color: #ededed;
    }
  }
}

@media (prefers-color-scheme: light) {
  #nav {
    border-right: 1px solid #1e1e1e;

    a, a:visited {
      color: #1e1e1e;
    }
  }
}