#nav {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 20px;
  height: 100vh;
  text-align: center;

  h1 {
    margin: 0px 0px 60px 0px;
  }
}

#container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
}

#navLinks {
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  padding: 20px 0;
}

a.active {
  text-decoration: underline;
}

#logoutSection {
  span {
    display: block;
    margin-bottom: 10px;
    text-align: left;
  }

  button {
    width: 100%;
  }
}

@media (prefers-color-scheme: dark) {
  #nav {
    border-right: 1px solid #ededed;

    a, a:visited {
      color: #ededed;
    }
  }
}

@media (prefers-color-scheme: light) {
  #nav {
    border-right: 1px solid #1e1e1e;

    a, a:visited {
      color: #1e1e1e;
    }
  }
}