#accountsContainer {
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
}

#userSearch {
  height: 100px;
  display: flex;
  justify-content: space-around;

  fieldset {
    height: 40px;
  }

  .primaryBtn {
    height: 40px;
  }
}

#searchResultsHeader {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 2fr 1.5fr 1fr;
  border-bottom: 1px solid white;
  margin-bottom: 20px;
}

#searchResults {
  flex-grow: 1;
}

#userFunctions {
  padding-bottom: 20px;
  display: flex;
  justify-content: space-around;

  button {
    width: 100px;
  }
}

@media (prefers-color-scheme: dark) {
  #searchResultsHeader{
    border-bottom: 1px solid #e0e0e0;
  }
}

@media (prefers-color-scheme: light) {
  #searchResultsHeader{
    border-bottom: 1px solid #1e1e1e;
  }
}