#scheduleTabsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 35px;
  border-bottom: 1px solid var(--border-color);
}

#addScheduleBtn {
  align-self: center;
  margin-right: 5px;
}

#addScheduleBtn:hover {
  cursor: pointer;
}

/* @media (prefers-color-scheme: dark) {
  #addScheduleBtn {
    background-color: #1e1e1e;
  }
}

@media (prefers-color-scheme: light) {
  #addScheduleBtn {
    background-color: #ededed;
  }
} */